a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,
html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video,section {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	list-style: none;
	text-decoration: none;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block
}

html {
	font-family: Microsoft YaHei,Helvetica Neue,Helvetica,STHeiTi,Arial,sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	/*font-size: 62.5%;
	line-height: 1.5*/
}

body {
	width: 100%;
	/*overflow: hidden;*/
	overflow-x: hidden;
	min-width: 320px;
	
}

.header{
	width: 100%;
	height: 1.9722rem;
	background: #f84056;
}

.header ul{
	width: 100%;
	height: 0.5740rem;
	
}

.header ul li{
	float: right;
	display: inline;
}

.time{
	display: inline-block;
	font-size: 0.4444rem;
	color: #fff;
	float: right;
	margin-right: 0.5rem;
	margin-top: 0.1081rem;
}

.battery{
	width: 0.2962rem;
	height: 0.4351rem;
	float: right;
	margin-right: 0.2222rem;
	margin-top: 0.1388rem;
}

.battery img{
	display: block;
	width: 100%;
}


.single{
	width: 0.3888rem;
	height: 0.4166rem;
	float: right;
	margin-right: 0.1296rem;
	margin-top: 0.1388rem;
}

.single img{
	width: 100%;
	display: block;
}

.wifi{
	width: 0.5277rem;
	height: 0.3981rem;
	float: right;
	margin-top: 0.1388rem;
}

.wifi img{
	width: 100%;
	display: block;
}

.side{
	width: 0.5rem;
	height: 0.3333rem;
	margin-top: 0.4944rem;
	margin-left: 0.6851rem;
	float: left;
}

.side img{
	width: 100%;
	display: block;
}

.header p{
	font-size: 0.6667rem;
	color: #FFFFFF;
	margin-top: 0.2rem;
	margin-left: 0.2777rem;
	float: left;
}

.more{
	display: block;
	width: 0.1388rem;
	height: 0.5555rem;
	margin-top: 0.3833rem;
	margin-right: -0.5rem;
	float: right;
}

.more img{
	width: 100%;
	display: block;
}

nav{
	width: 100%;
	height: 1.4629rem;
	background-color: #FFF;
}

nav a{
	width: 25%;
	text-align: center;
	color: #666;
	float: left;
	line-height: 1.12037rem;
	margin-top: 0.1574rem;
	font-size: 0.3796rem;
}

nav .in{border-bottom: 0.092rem solid #ff4f64;}

.banner{
	width: 100%;
	height: 2.9444rem;
}

.banner img{
	width: 100%;
	display: block;
}

.catalog_bg{
	width: 100%;
	height: 3.7407rem;
	background-color: #f0f0f0;
	overflow: hidden;
}

.catalog1{
	width: calc(100% - 0.037rem);
	height: calc(2.0833rem - 0.037rem);
	margin-top: 0.1759rem;
	background-color: #FFFFFF;
	border: 0.0185rem solid #e5e5e5;
}

.catalog1 ul{
	width: calc(100% - 1.574rem);
	height: calc(2.0833rem - 0.037rem);
	margin: 0 auto;
}

.catalog1 ul li{
	width: 25%;
	height: calc(2.0833rem - 0.037rem);
	float: left;
	text-align: center;
	font-size: 0.2962rem;
}

.catalog1 ul li a{
	color: #000;
}

.catalog1 ul li img{
	display: block;
	width: 1.0648rem;
	margin: 0.3796rem auto 0;
}

.catalog2{
	width: 100%;
	height: calc(1.2222rem - 0.037rem);
	background-color: #FFFFFF;
	margin-top: 0.1666rem;
	border: 0.0185rem solid #e5e5e5;
}

.catalog2 ul li{
	width: 50%;
	float: left;
	text-align: center;
	line-height: calc(1.2222rem - 0.037rem);
	font-size: 0.3888rem;
}

.catalog2 ul li a{
	color: #000000;
}

.catalog2 ul li:nth-child(1) a{
	color: #F84056;
	padding-left: 1.6666rem;
	padding-right: 1.6666rem;
	border-right: 0.0185rem solid #a0a0a0;
}

.main{
	width: 100%;
	height: 6.4814rem;
	z-index: 20;
}

.main span{
	width: 0.4444rem;
	height: 0.4444rem;
	display: block;
	float: left;
	margin-top: 0.2777rem;
	margin-left: 0.3425rem;
}

.main span img{
	display: block;
	width: 100%;
}

.main p{
	float: left;
	font-size: 0.3333rem;
	margin: 0.2311rem 0 0.4259rem 0.2037rem;
	color: #aeb4be;
}

.main > a:nth-of-type(1){
	display: inline-block;
	width: calc(100% - 0.2962rem - 0.3240rem);
	height: 2.6296rem;
	padding: 0 0.2962rem 0 0.3240rem;
	float: left;
}

.main > a:nth-of-type(1) img{
	width: 100%;
	display: block;
}

.main> a:nth-of-type(2){
	display: inline-block;
	width: calc(100% - 0.2962rem - 0.3240rem);
	height: calc(2.7222rem - 0.0965rem);
	padding: 0.0965rem 0.2962rem 0 0.3240rem;
	float: left;
}

.main> a:nth-of-type(2) img{
	width: 100%;
	display: block;
}
